
/* Global Styles */
@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f0ee;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}
